{% extends "base.html.twig" %}

{% block title %}
	Liste Jeu
{% endblock %}


{% block body %}

	{# <a href="{{ path('espace_admin') }}">&larr; Retour</a>
	    
	<h1>Liste Jeux</h1>
	
	<a href="{{ path('ajouter_jeu') }}" class="btn btn-primary">Ajouter Jeu</a>
	
	<div class="row mt-2">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nom Jeu</th>
					<th scope="col">Date de sortie</th>
					<th scope="col">Développeur</th>
					<th scope="col">Categorie</th>
					<th scope="col">Editeur</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for jeu in jeux %}
					<tr>
						<th scope="row">{{ jeu.id }}</th>
						<td>{{ jeu.nom }}</td>
						<td>{{ jeu.dateSortie|date("d/m/Y") }}</td>
						<td>{{ jeu.dev }}</td>
						<td>{{ jeu.editeur }}</td>
						<td>{{ jeu.editeur }}</td>
						<td>
							<a href="{{ path('modifier_jeu', {id: jeu.id}) }}" style="color: gray;"><i class="fas fa-pen"></i></a>
							<a href="{{ path('suppimer_jeu', {id: jeu.id}) }}" style="color: red;"><i class="fas fa-trash"></i></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div> #}


	<div class="container" style=" border:1px solid black;border-radius:15px; padding:20px; margin-top:50px; margin-bottom:50px;">


		<a href="{{ path('espace_admin') }} " class="btn btn-outline-primary">&larr; Retour</a>

		<h1>Liste Jeux</h1>

		<a href="{{ path('ajouter_jeu') }}" class="btn btn-primary">Ajouter Jeu</a>

		<div class="row mt-2">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nom Jeu</th>
						<th scope="col">Date de sortie</th>
						<th scope="col">Développeur</th>
						<th scope="col">Categorie</th>
						<th scope="col">Editeur</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for jeu in jeux %}
						<tr>
							<th scope="row">{{ jeu.id }}</th>
							<td>{{ jeu.nom }}</td>
							<td>{{ jeu.dateSortie|date("d/m/Y") }}</td>
							<td>{{ jeu.dev }}</td>
							<td>{{ jeu.editeur }}</td>
							<td>{{ jeu.editeur }}</td>
							<td>
								<a href="{{ path('modifier_jeu', {id: jeu.id}) }}" style="color: gray;">
									<i class="fas fa-pen"></i>
								</a>
								<a href="{{ path('suppimer_jeu', {id: jeu.id}) }}" style="color: red;">
									<i class="fas fa-trash"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>


{% endblock %}
