{% extends 'base.html.twig' %}
{% block title %}Liste des Jeux a sortir{% endblock %}
{% block body %}
<div class="container">
    <h1>Liste des jeux a sortir</h1>
    <div class="row mt-5">
        {% for Jeux in Jeux %}
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card bg-dark h-100">
                    {# <a href="{{ path('blog_Jeux', {id:Jeux.id})}}"> #}
                    <div class="img-ratio" style="--ratio: 40%;">
                        <div class="img">
                            <img src=" {{ Jeux.image }} " class="card-img-top w-100" alt="...">
                        </div>
                    </div>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title mycolor"><a href="{{ path('article', {id:Jeux.id}) }}">{{ Jeux.nom }}</a></h5>
                        <p class="card-text mycolor">{{ Jeux.contentEllipsis }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-dark mycolor">Sortie du jeux le {{ Jeux.dateSortie|date('d/m/Y') }}</li>
                            <li class="list-group-item bg-dark mycolor">Categories du jeux</li>
                        </ul>
                    </div>
                    <div class="text-end">
                        {# <a href="{{ path('Jeux_delete', {id: Jeux.id}) }}" class="btn btn-danger float-end m-3">Supprimer</a>
                        <a href="{{ path('modifier_Jeux', {id: Jeux.id}) }}" class="btn btn-secondary float-end m-3">Modifier</a> #}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
